<?xml version="1.0"?>

<launch>
  <!-- Crazyflie address. -->
  <arg name="robot_number" default="3" />
  <arg name="uri" value="radio://0/80/2M/E7E7E7E7E$(arg robot_number)" />

  <!-- Topics. -->
  <arg name="reference_topic" default="/ref"/>
  <arg name="state_topic" default="/state"/>
  <arg name="lqr_control_topic" default="/control/lqr"/>
  <arg name="takeoff_control_topic" default="/control/takeoff" />
  <arg name="final_control_topic" default="/control/final" />
  <arg name="in_flight_topic" default="/in_flight" />

  <!-- Frames of reference. -->
  <arg name="fixed_frame" default="odom" />
  <arg name="robot_frame" default="robot_1" />
  <arg name="mocap_frame" default="/natnet_ros/robot_1/pose" />

  <!-- Takeoff hover point. -->
  <arg name="takeoff_hover_x" default="0.0" />
  <arg name="takeoff_hover_y" default="0.0" />
  <arg name="takeoff_hover_z" default="1.0" />

  <arg name="takeoff_thrust" default="13.0" if="$(eval robot_number == 1)" />
  <arg name="takeoff_thrust" default="12.0" if="$(eval robot_number == 2)" />
  <arg name="takeoff_thrust" default="11.5" if="$(eval robot_number == 3)" />
  <!-- Takeoff duration and values -->  
  
  <arg name="takeoff_duration" default="1.5" />
  <arg name="landing_duration" default="3.0" />

  <!-- Waypoints -->
  <arg name="waypoints" default="[ [1.0, 1.0, 1.5], [2.0, 1.0, 1.5], [2.0, 2.0, 1.5], [1.0, 1.0, 1.5] , [-1.0, -1.0, 0.5]]" />

  <!-- Start point for the simulator. -->
  <arg name="sim_init_x" default="0.0" />
  <arg name="sim_init_y" default="0.0" />
  <arg name="sim_init_z" default="0.0" />


  <!-- Control parameters. -->
  <arg name="K_file" default="$(find crazyflie_lqr)/references/K.txt"/>
  <arg name="u_ref_file" value="$(find crazyflie_lqr)/references/uref$(arg robot_number).txt"/>

  <!-- Time steps.changed to 0.001 --> 
  <arg name="simulator_dt" default="0.001" />
  <arg name="estimator_dt" default="0.01" />

  <!-- Dimensions. -->
  <arg name="x_dim" default="7" />
  <arg name="u_dim" default="4" />

  <!-- Joystick address. -->
  <arg name="joy_dev" default="/dev/input/js0" />

  <!-- Crazyflie interface. -->
  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch" />

  <group ns="crazyflie">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri)" />
      <arg name="tf_prefix" value="$(arg robot_frame)" />
      <arg name="enable_logging" value="True" />
    </include>

<!--
    <node name="joy" pkg="joy" type="joy_node" output="screen">
      <param name="dev" value="$(arg joy_dev)" />
    </node>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
    </node>
-->
  </group>

  <!-- Takeoff server node. -->
  <node name="takeoff_server"
        pkg="crazyflie_takeoff"
        type="takeoff_server_node"
        output="screen">

    <param name="topics/reference" value="$(arg reference_topic)" />
    <param name="topics/control" value="$(arg takeoff_control_topic)" />
    <param name="topics/in_flight" value="$(arg in_flight_topic)" />

    <param name="hover/x" value="$(arg takeoff_hover_x)" />
    <param name="hover/y" value="$(arg takeoff_hover_y)" />
    <param name="hover/z" value="$(arg takeoff_hover_z)" />
    <param name="takeoff/thrust" value="$(arg takeoff_thrust)" />
    <param name="duration/open_loop" value="$(arg takeoff_duration)" />
    <param name="duration/landing" value="$(arg landing_duration)" />
  </node>

  <!-- Takeoff server node. -->
  <node name="takeoff_control_filter"
        pkg="crazyflie_takeoff"
        type="takeoff_control_filter_node"
        output="screen">

    <param name="topics/takeoff_control" value="$(arg takeoff_control_topic)" />
    <param name="topics/commanded_control" value="$(arg lqr_control_topic)" />
    <param name="topics/final_control" value="$(arg final_control_topic)" />
    <param name="topics/in_flight" value="$(arg in_flight_topic)" />

    <param name="hover/x" value="$(arg takeoff_hover_x)" />
    <param name="hover/y" value="$(arg takeoff_hover_y)" />
    <param name="hover/z" value="$(arg takeoff_hover_z)" />
  </node>

  <!-- Converter for custom command velocity messages. -->
  <node name="cmd_vel_converter"
        pkg="crazyflie_control_merger"
        type="cmd_vel_converter_node"
        output="screen">

    <param name="topics/control" value="$(arg final_control_topic)" />
    <param name="topics/cmd_vel" value="/$(arg robot_frame)/cmd_vel" />
  </node>

  <!-- State estimator. -->
  <node name="state_estimator"
        pkg="crazyflie_state_estimator"
        type="position_velocity_yaw_state_estimator_node"
        output="screen">

    <param name="x_dim" value="$(arg x_dim)" />
    <param name="time_step" value="$(arg estimator_dt)" />

    <param name="frames/fixed" value="$(arg fixed_frame)" />
    <param name="frames/robot" value="$(arg robot_frame)" />

    <param name="topics/state" value="$(arg state_topic)" />
  </node>

  <!-- LQR controller. -->
  <node name="lqr_controller"
        pkg="crazyflie_lqr"
        type="position_velocity_yaw_state_lift_lqr_node"
        output="screen">

    <param name="x_dim" value="$(arg x_dim)" />
    <param name="u_dim" value="$(arg u_dim)" />

    <param name="K_file" value="$(arg K_file)" />
    <param name="u_ref_file" value="$(arg u_ref_file)" />

    <param name="topics/reference" value="$(arg reference_topic)" />
    <param name="topics/state" value="$(arg state_topic)" />
    <param name="topics/control" value="$(arg lqr_control_topic)" />
    <param name="topics/in_flight" value="$(arg in_flight_topic)" />
  </node>

<!-- Fixing tf for optitrack -->
<node pkg="tf" type="static_transform_publisher" name="broadcaster_two" args="0 0 0 0 0 0 1 world odom 100" />
 
  <!-- Launch RViz with the proper config file robot descriptor. -->
  <node name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find crazyflie_simulator)/rviz/crazyflie_simulator.rviz"
        required="true">

    <param name="robot_description"
           command="$(find xacro)/xacro
                    $(find crazyflie_description)/urdf/crazyflie.urdf.xacro" />
  </node>

  <!-- Waypoint Publisher. -->
  <node name="waypoint"
        pkg="crazyflie_examples"
        type="cf_waypoint.py"
        output="screen">

        <param name="waypoints" value="$(arg waypoints)" />    
  </node>

</launch>
